.header-logo {
    position: fixed;
    left: 100px;
    top: 10px;
}

body {
    background-image: url('ceramic.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 500px auto;
    height: 500px auto;
}

* {
    color: #FFC107;
}

.guy1 {
    position: absolute;
    top: 100px;
    left: 100px;
    bottom: 40px;
    right: 40px;
}

.guy2 {
    position: absolute;
    top: 100px;
    left: 600px;
    bottom: 40px;
    right: 40px;
}

.ogguy {
    position: absolute;
    left: 100px;
    top : 300px;
}

.coolguy {
    position: fixed;
    left: 600px;
    top : 250px;
}

.footer {
    position: absolute;
    right: 500px;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

a {
    color: red;
}

.imageSquare {
    position: absolute;
    top: 350px;
    left: 600px;
}

.Square{
    height: 150px;
}

.contact {
    position: absolute;
    top : 305px;
    left: 650px;
}

.jobs {
    position: absolute;
    top : 350px;
    left: 750px
}   

.projects {
    position: absolute;
    top : 335px;
    left: 475px;
    font-size: 25px;
}

.people {
    position: absolute;
    top : 380px;
    left: 544px;
}

.links {
    position: absolute;
    top : 497px;
    left: 570px;
    transform: rotate(90deg);
    
}

.SquareAround {
    font-family: 'Courier New', Courier, monospace;
    
}

.contactvalve {
    position: absolute;
    top: 100px;
    left: 100px;
}

.maincontact {
    font-weight: bold;
    font-size: 30px;
}

.telephone {
    font-weight: bold;
}

.fax {
    font-weight: bold;
    position: absolute;
    top:125px;
}

.postal {
    font-weight: bold;
    position: absolute;
    top: 165px;
}

.email {
    font-weight: bold;
    position: absolute;
    top: 225px;
}

.telephonetext {
    position: absolute;
    top: 95px;
}

.faxtext {
    position: absolute;
    top: 140px;
}

.postaltext {
    position: absolute;
    top: 180px;
}

.postaldir {
    position: absolute;
    top: 200px;
    color: red;
}

.infoinfo {
    position: absolute;
    top: 240px;
}

.jobsinfo {
    position: absolute;
    top: 255px;
}

.webmasterinfo {
    position: absolute;
    top: 270px;
}

.maps{
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 99px;
    top: 200px;
}

.where {
    position: absolute;
    left: 100px;
    top: 240px;
}

.dir {
    font-weight: bold;
    position: absolute; 
    left: 100px;
    top: 280px;
}

.dir1 {
    position: absolute; 
    left: 100px;
    top: 320px;
}   

.dir2 { 
    position: absolute; 
    left: 100px;
    top: 360px;
}

.dir3 {
    position: absolute; 
    left: 100px;
    top: 400px;
}

.mapkirk {
    position: absolute;
    top: 100px;
    left: 100px;
}   

.bold1{
    font-weight: bold;
}

.seatac {
    font-size: 13px;
}

.dir4{
    position: absolute;
    left: 100px;
    top: 100px;
}

.from{
    position: absolute;
    left: 100px;
    top: 150px;
}

.fromwhere {
    position: absolute;
    left: 100px;
    top: 170px;

}

.to {
    position: absolute;
    left: 100px;    
    top: 200px;
}

.towhere {    
    position: absolute;
    left: 100px;
    top: 220px;
}

.alldir {
    position: absolute;
    left: 100px;
    top: 250px;
}

.project {
    font-weight: bold;
    position: absolute;
    top : 50px;
    left: 100px;
    font-size: 25px;
}

.project1 {
    position: absolute;
    top : 100px;
    left: 100px;
    width: 500px;;
}

.project2 {
    position: absolute;
    top : 190px;
    left: 100px;
}

.Half-Life {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top : 215px;
    left: 100px;
}

.excerptwhat {
    position: absolute;
    top : 260px;    
    left: 100px;
}

.excerpt {
    position: absolute;
    top : 300px;
    left: 100px;
    width: 600px;
}

.box {
    position: absolute;
    top : 185px;
    left: 5px;
}

.jobmail{
    position: absolute;
    font-weight: bold;
    left: 625px;
    top: 200px;
}

.jopen{
    position: absolute;
    left: 100px;
    top: 50px;
    font-weight: bold;
    font-size: 20px;
}

.j1{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 500px;
}

.j2{
    position: absolute;
    left: 100px;
    top: 200px;
    width: 500px;
}

.j3{
    position: absolute;
    left: 100px;
    top: 270px;
    width: 500px;
}

.senior{
    position: absolute;
    left: 100px;
    top: 330px;
    font-weight: bold;
    font-size: 20px;
}

.senior1{
    position: absolute;
    left: 100px;
    top: 370px;
    width: 500px;
}

.softdev{
    position: absolute;
    left: 100px;
    top: 440px;
    font-weight: bold;
    font-size: 20px;
}

.softdev1{
    position: absolute;
    left: 100px;
    top: 470px;
    width: 500px;
}

.gamedesign{
    position: absolute;
    left: 100px;
    top: 550px;
    font-weight: bold;
    font-size: 20px;
}

.gamedesign1{
    position: absolute;
    left: 100px;
    top: 590px;
    width: 500px;
}

.gif1{
    position: absolute;
    top: 200px;
    animation: gif 2s infinite;
}

.about{
    position: absolute;
    left: 100px;
    top: 50px;
    font-weight: bold;
    font-size: 20px;
}

.about1{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 500px;
}

.gabe{
    position: absolute;
    left: 100px;
    top: 210px;
    font-weight: bold;
    font-size: 20px;
}

.whogabe{
    position: absolute;
    left: 100px;
    top: 250px;
    width: 600px;
}

.mike{
    position: absolute;
    left: 100px;
    top: 370px;
    font-weight: bold;
    font-size: 20px;
}

.whomike{
    position: absolute;
    left: 100px;
    top: 410px;
    width: 500px;
}

.harry{
    position: absolute;
    left: 100px;
    top: 530px;
    font-weight: bold;
    font-size: 20px;
}

.whoHarry{
    position: absolute;
    left: 100px;
    top: 570px;
    width: 500px;
}

.chuck{
    position: absolute;
    left: 100px;
    top: 690px;
    font-weight: bold;
    font-size: 20px;
}

.whoChuck{
    position: absolute;
    left: 100px;
    top: 730px;
    width: 500px;
}    

.ted{
    position: absolute;
    left: 100px;
    top: 830px;
    font-weight: bold;
    font-size: 20px;
}

.whoTed{
    position: absolute;
    left: 100px;
    top: 870px;
    width: 500px;
}

.ken{
    position: absolute;
    left: 100px;
    top: 960px;
    font-weight: bold;
    font-size: 20px;
}

.whoKen{
    position: absolute;
    left: 100px;
    top: 1000px;
    width: 600px;
}

.gregg{
    position: absolute;
    left: 100px;
    top: 1140px;
    font-weight: bold;
    font-size: 20px;
}

.whoGregg{
    position: absolute;
    left: 100px;
    top: 1175px;
    width: 500px;
}

.kelly{
    position: absolute;
    left: 100px;
    top: 1260px;
    font-weight: bold;
    font-size: 20px;
}

.whoKelly{
    position: absolute;
    left: 100px;
    top: 1300px;
    width: 500px;
}

.dario{
    position: absolute;
    left: 100px;
    top: 1400px;
    font-weight: bold;
    font-size: 20px;
}

.whoDario{
    position: absolute;
    left: 100px;
    top: 1450px;
    width: 500px;
}  

.steve{
    position: absolute;
    left: 100px;
    top: 1520px;
    font-weight: bold;
    font-size: 20px;
}

.whoSteve{
    position: absolute;
    left: 100px;
    top: 1560px;
    width: 500px;
}

.john {
    position: absolute;
    left: 100px;
    top: 1720px;
    font-weight: bold;
    font-size: 20px;
}

.whoJohn {
    position: absolute;
    left: 100px;
    top: 1760px;
    width: 500px;
}

.karl{
    position: absolute;
    left: 100px;
    top: 1870px;
    font-weight: bold;
    font-size: 20px;
}

.whoKarl{
    position: absolute;
    left: 100px;
    top: 1920px;
    width: 500px;
}

.brett{
    position: absolute;
    left: 100px;
    top: 2040px;
    font-weight: bold;
    font-size: 20px;
}

.whoBrett{
    position: absolute;
    left: 100px;
    top: 2080px;
    width: 500px;
}

.karen{
    position: absolute;
    left: 100px;
    top: 2185px;
    font-weight: bold;
    font-size: 20px;
}

.whoKaren{
    position: absolute;
    left: 100px;
    top: 2220px;
    width: 500px;
}

.randy{
    position: absolute;
    left: 100px;
    top: 2340px;
    font-weight: bold;
    font-size: 20px;
}

.whoRandy{
    position: absolute;
    left: 100px;
    top: 2370px;
    width: 500px;
}

.dave{
    position: absolute;
    left: 100px;
    top: 2490px;
    font-weight: bold;
    font-size: 20px;
}

.whoDave{
    position: absolute;
    left: 100px;
    top: 2520px;
    width: 500px;
}

.marc{
    position: absolute;
    left: 100px;
    top: 2640px;
    font-weight: bold;
    font-size: 20px;
}

.whoMarc{
    position: absolute;
    left: 100px;
    top: 2670px;
    width: 700px;
}   

.jay{
    position: absolute;
    left: 100px;
    top: 2790px;
    font-weight: bold;
    font-size: 20px;
}

.whoJay{
    position: absolute;
    left: 100px;
    top: 2820px;
    width: 500px;
}

.mark{
    position: absolute;
    left: 100px;
    top: 2940px;
    font-weight: bold;
    font-size: 20px;
}

.whoMark{
    position: absolute;
    left: 100px;
    top: 2970px;
    width: 700px;
}

.doug2{
    position: absolute;
    left: 100px;
    top: 3070px;
    font-weight: bold;
    font-size: 20px;
}

.whoDoug2{
    position: absolute;
    left: 100px;
    top: 3110px;
    width: 600px;
}

.steve1{
    position: absolute;
    left: 100px;
    top: 3230px;
    font-weight: bold;
    font-size: 20px;
}

.whoSteve1{
    position: absolute;
    left: 100px;
    top: 3270px;
    width: 500px;
}

.louise{
    position: absolute;
    left: 100px;
    top: 3390px;
    font-weight: bold;
    font-size: 20px;
}

.whoLouise{
    position: absolute;
    left: 100px;
    top: 3430px;
    width: 500px;
}

.footerpeople {
    position: absolute;
    left: 100px;
    top: 3550px;
}

.link {
    position: absolute;
    left: 100px;
    top: 75px;
    font-weight: bold;
    font-size: 20px;
}

.Sierra {
    position: absolute;
    left: 100px;
    top: 120px;
}

.news{
    position: absolute;
    left: 100px;
    top: 150px;
    font-weight: bold;
    font-size: 20px;
}

.news1{
    position: absolute;
    left: 100px;
    top: 190px;
    width: 500px;
    font-weight: bold;
}

.press{
    position: absolute;
    left: 100px;
    top: 230px;
    font-weight: bold;
    font-size: 20px;
}

.press1{
    position: absolute;
    left: 100px;
    top: 260px;
    width: 500px;
}

.press2{
    position: absolute;
    left: 100px;
    top: 277px;
    width: 500px;
    
}

.press3{
    position: absolute;
    left: 100px;
    top: 294px;
    width: 500px;
    
}

.employees{
    position: absolute;
    left: 100px;
    top: 335px;
    font-weight: bold;
    font-size: 20px;
}

.employees1{
    position: absolute;
    left: 100px;
    top: 380px;
    width: 500px;
    
}

.employees2{
    position: absolute;
    left: 100px;
    top: 400px;
    width: 500px;
    
}

.employees3{
    position: absolute;
    left: 100px;    
    top: 417px;
    width: 500px;

}

.gif4  {
    position: absolute;
    left: 10px;
    top: 120px;
}

.gif5  {
    position: absolute;
    left: 10px;
    top: 110px;
}

.headerpeople {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
